h1,h2,h3,h4,h5,h6,p,nav,button {
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    min-height: 6em;
    background-color: #000000;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}
.nav-b{
    padding-right: 0.5em;
}
.brand-image {
    height: 2em;
    width: 2em;
    margin-right: 1em;
}
.nav-link{
    color: white;
}
.contato {
    border: white 1px;
}
.button-wpp{
    width: fit-content;
    background-color:#FFD700;
    color: #000000;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 2em;
    font: normal 12pt Montserrat;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

@media (max-width: 410px) {
    .nav-b{
        padding-right: 0.5em;
    }
    .brand-image {
        height: 1.2em;
        width: 1.2em;
        margin-right: 1em;
    }
    .button-wpp{
        font-size: 11pt;
    }
    
}

/*Container 1*/

.container-1{
    background-color: rgb(226, 226, 226);
    width: 100%;
    min-height: 12em;
    padding-bottom: 1em;
}
.container-1-content{
    display: flex;
    background-color: rgb(226, 226, 226);
    height: 80%;
    flex-wrap: wrap;
    align-items: center;
}
.icon-whatsapp {
    margin-right: 0.5em;
}
.inner-content{
    background-color: rgb(226, 226, 226);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em
}
.title-text{
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
}
.header {
    margin-bottom: 0.8em;
    font-size: 32pt;
}

@media (max-width: 800px){
    .title-text{
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }
}

/*Container 2*/

.container-2 {
    width: 100%;
    min-height: 12em;
    background-color:rgb(30, 30, 31);
    color: rgb(226, 226, 226);
}
.container-2-content{
    display: flex;
    height: 100%;
    align-items: center;
}
.inner-content-2{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;    
    margin-top: 2em;
    margin-bottom: 2em
}
.header-1 {
    text-align: center;
    width: 100%;
}
.hr {
    background-color: #FFD700;
}
.atuacao-paragrafo{
    font-size: 14pt;
}

@media (max-width: 800px){
    .inner-content-2{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em
    }
}

/*Container 3*/

.container-3 {
    width: 100%;
    min-height: 12em;
    max-height: auto;
    padding: 0%;
    background-color:#e2e2e2;
}
.help-title{
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
.atuacao {
    display: flex;  
    justify-content: center;
    flex-direction: row;
}
.conteudo-atuacao{
    margin: 1em;
    justify-content: center;
}
.container-3-content{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.inner-content-3 {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}
.items-column{
    margin-bottom: 0;
}
.hr {
    background-color: #FFD700;
    width: 100%;
}
.hr-area{
    margin: 0;
}
li.item-atuacao {
    list-style: none;
    display: flex;
}
li.item-atuacao:before {
    content: "⦿";
    margin-right: 1em;
    text-align: center;
    color: #d1b203;
}

@media (max-width: 770px){
    .atuacao {
        display: flex;  
        justify-content: center;
        flex-direction: column;
    }
    .conteudo-atuacao{
        margin: 0;
    }
    .container-3-content{
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

/*Container 4*/

.container-4 {
    width: 100%;
    min-height: 12em;
    background-color:#1e1e1f;
    color: #e2e2e2;
}
.container-4-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
}
.inner-content-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.biografia{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1.5em;
    justify-content: center;
}
.header-3 {
    text-align: center;
    width: 100%;
    margin-bottom: 0.5em;
}
.title-text {
    align-items: start;
}
.bioimg {
    display: flex;
    max-width: 4em;
    max-height: 4em;
    margin-right: 2em;
}
.advimage {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    border-radius: 50%;
}
.hr-sobre {
    width: 60%;
}
.faq-box{
    width: 100%;
    margin: auto;
    border-radius: 15px;
}
.faq-box:hover{
    background-color: #000000;
    transition: 0.4s;
}
.item-faq{
    height: 6%;
}
.hr-line{
    width: 60%;
    margin: auto;
}
.faq-page{
    cursor: pointer;
    padding: 10px 10px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;                        
}
.faq-body{
    margin: auto;
    width: 100%;
    padding: 20px;
} 
.faq-body{
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #1e1e1f;
    display: none;
    overflow: hidden;
    text-align: center;
}
.faq-page:after{
    content: '\02795';
    font-size: 13px;
    transition: 0.2s ease-out;
    color: #fffefe;
    float: right;
    margin-left: auto;
    text-align: center;
}
.active:after{
    content: "\2796"
}
@media (max-width: 980px) {
    .container-4-content{
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .biografia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .bioimg {
        display: flex;
        max-width: 3.5em;
        max-height: 3.5em;
        justify-content: center;
        margin-right: 1.5em;
    }
    .hr-sobre {
        width: 93%;
    }
}

/*Container 5*/

.container-5 {
    width: 100%;
    min-height: 12em;
    max-height: auto;
    padding: 0%;
    background-color:#e2e2e2;
}
.localizacao {
    display: flex;
    height: auto;
    justify-content: center;    
    flex-direction: row;
    margin: auto;
}
.title-text{
    margin-right: 2em;
}
.container-5-content{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.inner-content-5 {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}
.header-2 {
    text-align: start;
}
.fa-location-dot{
    margin-right: 4px;
}

@media (max-width: 800px) {
    .container-5-content{
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .localizacao {
        display: flex;
        height: auto;
        justify-content: center;
        text-align: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .inner-content-5 {
        display: flex;
        margin: 0;
    }
    .title-text{
        margin-right: 0em;
    }
    .header-2 {
       align-items: center;
       text-align: center;
    }
}
/*Footer*/

.footer-distributed{
	background-color: #000000;
	width: 100%;
	text-align: left;
	font-size: 16px;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
    color:#ffffff;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-size: 36px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  white;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color: white;
	text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
	.footer-distributed{
		font-size: 14px;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}